/* Sass Расширения */
%blue_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: var(--dark-blue);
    height: 52px;
    color: #fff;
    font-weight: 700;
    line-height: 24.38px;
    font-size: 20px;
    width: 100%;
}

/* Слесарный ремонт */
.locksmith_repair {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: #000000;
    padding: 0 250px;


    @media (max-width: 1600px) {
        padding: 0 100px;
    }

    @media (max-width: 1300px) {
        padding: 0 40px;
    }

    @media (max-width: 600px) {
        padding: 0 10px;
        margin-top: 0;
    }


    &--caption {
        font-weight: 700;
        font-size: 48px;
        line-height: 58.51px;

        @media (max-width: 600px) {
            font-size: 32px;
            line-height: 39.01px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 65% 35%;
        margin-top: 50px;
        gap: 10px;

        @media (max-width: 1400px) {
            grid-template-columns: 100%;
            gap: 50px;
        }

        @media (max-width: 600px) {
            margin-top: 30px;
            gap: 35px;
        }
    }

    /* Колонка с фильтрами */
    &__filters {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &--item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 52px;
            width: 100%;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            background-color: #FAFAFA;
            cursor: pointer;
            transition: color .2s linear;

            @media (max-width: 600px) {
                padding: 10px 20px 10px 15px;
            }

            &:hover {
                color: var(--dark-blue);

                .locksmith_repair__filters--item_icon {

                    path,
                    circle {
                        stroke: var(--dark-blue);
                    }
                }
            }

            &--active {
                background-color: var(--dark-blue);
                color: var(--white);

                &:hover {
                    color: var(--white);
                }
            }

            &_name {
                display: flex;
                gap: 10px;
                align-items: center;
            }

            &_icon {
                width: 32px;
                height: 32px;
                cursor: pointer;

                @media (max-width: 600px) {
                    width: 24px;
                    height: 24px;
                }

                circle,
                path {
                    transition: stroke .2s linear;
                }
            }

            &_title {
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;

                @media (max-width: 600px) {
                    font-size: 16px;
                    line-height: 20.8px;
                    text-align: left;
                }
            }

            &_price {
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                white-space: nowrap;

                @media (max-width: 600px) {
                    font-size: 16px;
                    line-height: 20.8px;
                }
            }
        }
    }

    /* Колонка с формой*/
    &__leave_request {
        display: flex;
        flex-direction: column;
        width: 443px;
        height: 565px;
        border-radius: 10px;
        padding: 30px;
        background-color: #FAFAFA;
        color: #000000;
        justify-self: center;

        @media (max-width: 600px) {
            width: 340px;
            height: 502px;
            padding: 20px;
        }

        &--caption {
            font-weight: 700;
            font-size: 24px;
            line-height: 31.2px;
            text-align: center;
        }

        &--desc {
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            white-space: wrap;
            margin-top: 10px;
        }

        &--wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 30px;
        }

        &--info {
            color: var(--dark-grey);
            font-weight: 400;
            font-size: 14px;
            line-height: 18.2px;
            white-space: wrap;
            text-align: left;

            @media (max-width: 600px) {
                font-size: 12px;
                line-height: 15.6px;
            }
        }

        &--select {
            appearance: none;
            -webkit-appearance: none;
            width: 100%;
            height: 25px;
            background-color: transparent;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: var(--dark-grey);

            @media (max-width: 600px) {
                font-size: 16px;
                line-height: 20.8px;
            }
        }

        .custom-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 1px 1px var(--light-grey);
            position: relative;
            height: 25px;
            width: 100%;
            padding: 5px;
            background-color: transparent;
        }

        .custom-select::after {
            content: url(../../icons/select_menu_arrow.svg);
            display: block;
            width: 10%;
            height: 200%;
        }

        &--input {
            box-shadow: 0px 1px 1px var(--light-grey);
            width: 383px;
            height: 30px;
            background-color: transparent;
            padding: 5px;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: var(--dark-grey);

            &::placeholder {
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                color: var(--dark-grey);

                @media (max-width: 600px) {
                    font-size: 16px;
                    line-height: 20.8px;
                }
            }
        }

        &--button {
            @extend %blue_button;
            margin-top: 15px;
        }

        &--filters {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
            width: 100%;
            align-items: flex-start;
            max-height: 100px;
            overflow-y: auto;
        }

        &--filter_item {
            display: flex;
            align-items: center;
            background-color: var(--light-grey);
            height: 28px;
            border-radius: 5px;
            padding: 4px 6px 4px 6px;
            gap: 8px;

            &_cancel {
                cursor: pointer;
                min-width: 16px;
                min-height: 16px;
            }

            &_text {
                font-weight: 400;
                font-size: 16px;
                line-height: 19.5px;
                color: #000000;
                user-select: none;
            }
        }
    }
}