@charset "UTF-8";
/* Sass Расширения */
.locksmith_repair__leave_request--button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: var(--dark-blue);
  height: 52px;
  color: #fff;
  font-weight: 700;
  line-height: 24.38px;
  font-size: 20px;
  width: 100%;
}

/* Слесарный ремонт */
.locksmith_repair {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  color: #000000;
  padding: 0 250px;
  /* Колонка с фильтрами */
  /* Колонка с формой*/
}
@media (max-width: 1600px) {
  .locksmith_repair {
    padding: 0 100px;
  }
}
@media (max-width: 1300px) {
  .locksmith_repair {
    padding: 0 40px;
  }
}
@media (max-width: 600px) {
  .locksmith_repair {
    padding: 0 10px;
    margin-top: 0;
  }
}
.locksmith_repair--caption {
  font-weight: 700;
  font-size: 48px;
  line-height: 58.51px;
}
@media (max-width: 600px) {
  .locksmith_repair--caption {
    font-size: 32px;
    line-height: 39.01px;
  }
}
.locksmith_repair__wrapper {
  display: grid;
  grid-template-columns: 65% 35%;
  margin-top: 50px;
  gap: 10px;
}
@media (max-width: 1400px) {
  .locksmith_repair__wrapper {
    grid-template-columns: 100%;
    gap: 50px;
  }
}
@media (max-width: 600px) {
  .locksmith_repair__wrapper {
    margin-top: 30px;
    gap: 35px;
  }
}
.locksmith_repair__filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.locksmith_repair__filters--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 52px;
  width: 100%;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: #FAFAFA;
  cursor: pointer;
  transition: color 0.2s linear;
}
@media (max-width: 600px) {
  .locksmith_repair__filters--item {
    padding: 10px 20px 10px 15px;
  }
}
.locksmith_repair__filters--item:hover {
  color: var(--dark-blue);
}
.locksmith_repair__filters--item:hover .locksmith_repair__filters--item_icon path,
.locksmith_repair__filters--item:hover .locksmith_repair__filters--item_icon circle {
  stroke: var(--dark-blue);
}
.locksmith_repair__filters--item--active {
  background-color: var(--dark-blue);
  color: var(--white);
}
.locksmith_repair__filters--item--active:hover {
  color: var(--white);
}
.locksmith_repair__filters--item_name {
  display: flex;
  gap: 10px;
  align-items: center;
}
.locksmith_repair__filters--item_icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .locksmith_repair__filters--item_icon {
    width: 24px;
    height: 24px;
  }
}
.locksmith_repair__filters--item_icon circle,
.locksmith_repair__filters--item_icon path {
  transition: stroke 0.2s linear;
}
.locksmith_repair__filters--item_title {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
@media (max-width: 600px) {
  .locksmith_repair__filters--item_title {
    font-size: 16px;
    line-height: 20.8px;
    text-align: left;
  }
}
.locksmith_repair__filters--item_price {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .locksmith_repair__filters--item_price {
    font-size: 16px;
    line-height: 20.8px;
  }
}
.locksmith_repair__leave_request {
  display: flex;
  flex-direction: column;
  width: 443px;
  height: 565px;
  border-radius: 10px;
  padding: 30px;
  background-color: #FAFAFA;
  color: #000000;
  justify-self: center;
}
@media (max-width: 600px) {
  .locksmith_repair__leave_request {
    width: 340px;
    height: 502px;
    padding: 20px;
  }
}
.locksmith_repair__leave_request--caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  text-align: center;
}
.locksmith_repair__leave_request--desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  white-space: wrap;
  margin-top: 10px;
}
.locksmith_repair__leave_request--wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.locksmith_repair__leave_request--info {
  color: var(--dark-grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  white-space: wrap;
  text-align: left;
}
@media (max-width: 600px) {
  .locksmith_repair__leave_request--info {
    font-size: 12px;
    line-height: 15.6px;
  }
}
.locksmith_repair__leave_request--select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background-color: transparent;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-grey);
}
@media (max-width: 600px) {
  .locksmith_repair__leave_request--select {
    font-size: 16px;
    line-height: 20.8px;
  }
}
.locksmith_repair__leave_request .custom-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 1px var(--light-grey);
  position: relative;
  height: 25px;
  width: 100%;
  padding: 5px;
  background-color: transparent;
}
.locksmith_repair__leave_request .custom-select::after {
  content: url(../../icons/select_menu_arrow.svg);
  display: block;
  width: 10%;
  height: 200%;
}
.locksmith_repair__leave_request--input {
  box-shadow: 0px 1px 1px var(--light-grey);
  width: 383px;
  height: 30px;
  background-color: transparent;
  padding: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-grey);
}
.locksmith_repair__leave_request--input::-moz-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-grey);
}
.locksmith_repair__leave_request--input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-grey);
}
@media (max-width: 600px) {
  .locksmith_repair__leave_request--input::-moz-placeholder {
    font-size: 16px;
    line-height: 20.8px;
  }
  .locksmith_repair__leave_request--input::placeholder {
    font-size: 16px;
    line-height: 20.8px;
  }
}
.locksmith_repair__leave_request--button {
  margin-top: 15px;
}
.locksmith_repair__leave_request--filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  align-items: flex-start;
  max-height: 100px;
  overflow-y: auto;
}
.locksmith_repair__leave_request--filter_item {
  display: flex;
  align-items: center;
  background-color: var(--light-grey);
  height: 28px;
  border-radius: 5px;
  padding: 4px 6px 4px 6px;
  gap: 8px;
}
.locksmith_repair__leave_request--filter_item_cancel {
  cursor: pointer;
  min-width: 16px;
  min-height: 16px;
}
.locksmith_repair__leave_request--filter_item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=locksmith_repair.css.map */